.plugin-gridster.SarahV2Cortana .front {
  background: #55b5e6 url('images/SarahV2Cortana.png') center 34px;
  background-size:   135px 130px;
  background-repeat: no-repeat;
}
.plugin-gridster.SarahV2Cortana .back {
  background: #070000 url('images/SarahV2Cortana2.jpg') center 34px;
  background-size:   130px 75px;
  background-repeat: no-repeat;
}
